<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <title>Socket.Io</title>
  </head>
  <body>
    <input type="text" class="message" />
    <button onclick="message()">Click</button>
    <h1></h1>
    <script>
      const socket = io();
      socket.on("connection");
      function message() {
        let messageInput = document.querySelector(".message");
        let sendMessage = messageInput.value;
        socket.emit("message", sendMessage);
      }
      socket.on("message", (data) => {
        document.querySelector("h1").innerHTML = data;
      });

      socket.on("serverEvent", (data) => {
        console.log(data);
      });

      // count users connections
      socket.on("broadcast", (data) => {
        console.log(data.description);
        alert(data.description);
      });
      // =====================
      // name space
      // const socket = io("/name-space");
      // socket.on("hi", (data) => {
      //   document.body.innerText = data;
      // });
      // =========================
      // join to room
      // const socket = io("/joinRoom");
      // socket.on("connectToRoom",(data)=>{
      //   console.log(data);
      // })

    </script>
  </body>
</html>
